<div {{ attributes.defaults({'data-controller': 'autocomplete-select-extend'}) }}>
    <h2 class="text-xl font-semibold text-gray-900 mb-4">
        New Document
    </h2>

    {{ form_start(form, {attr: {
        'data-action': 'live#action',
        'data-live-action-param': 'prevent|files|save'
    }}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}

        <div>
            <div class="flex items-center justify-between mb-1">
                {{ form_label(form.tags) }}
                <button
                    type="button"
                    class="inline-flex items-center gap-1 text-sm text-blue-600 hover:text-blue-800 cursor-pointer"
                    data-action="live#emit"
                    data-live-event-param="tag:create"
                >
                    <twig:ux:icon name="tabler:plus" class="w-4 h-4" />
                    Create Tag
                </button>
            </div>
            {{ form_widget(form.tags) }}
        </div>

        {{ form_row(form.file) }}
        <twig:Elements:Button type="submit">Save</twig:Elements:Button>
    {{ form_end(form) }}


    <twig:Elements:Modal name="{{ tagCreateModalName }}" :zIndex="1100">
        <twig:User:TagCreate />
    </twig:Elements:Modal>
</div>
