<twig:Common:Listing entityClassName="{{ entityClassName }}"  {{ ...(projectsListingProps ?? {}) }}>
    <twig:block name="headers_action_right">
        <twig:Elements:Button data-action="live#emit" data-live-event-param="project:edit">
            <twig:ux:icon name="tabler:folder-plus" class="mr-2"/>New Project
        </twig:Elements:Button>
    </twig:block>
    <twig:block name="table_head">
        <twig:Elements:Th>Name</twig:Elements:Th>
        <twig:Elements:Th>Managers</twig:Elements:Th>
        <twig:Elements:Th class="w-8">Status</twig:Elements:Th>
        <twig:Elements:Th class="text-right whitespace-nowrap w-8">Actions</twig:Elements:Th>
    </twig:block>
    <twig:block name="table_row">
        <twig:Elements:Td class="text-gray-900">
            <twig:Elements:Button variant="link" href="{{ path('app_user_project_view', {id: item.id}) }}">
                {{ item.name }}
            </twig:Elements:Button>
        </twig:Elements:Td>
        <twig:Elements:Td>
            {% if item.managers|length > 0 %}
                <div class="flex flex-wrap gap-1">
                    {% for manager in item.managers %}
                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-blue-100 text-blue-800">
                            {{- manager.displayName -}}
                        </span>
                    {% endfor %}
                </div>
            {% else %}
                -
            {% endif %}
        </twig:Elements:Td>
        <twig:Elements:Td>
            <twig:Elements:Pill
                variant="{{ item.isFinished ? 'disabled' : 'default' }}"
                content="{{ item.isFinished ? 'Finished' : 'Active' }}"
            />
        </twig:Elements:Td>
        <twig:Elements:Td class="text-gray-900 whitespace-nowrap text-right">
            <twig:Elements:Dropdown variant='short'>
                {%- if is_granted_for_user(app.user, 'PROJECT_EDIT', item) -%}
                <twig:Elements:DropdownButton
                    data-action="live#emit"
                    data-live-event-param="project:edit"
                    data-live-project-param="{{ item.id }}"
                >
                    <twig:ux:icon name="tabler:pencil" class="w-4 h-4" /> Edit
                </twig:Elements:DropdownButton>
                {%- endif -%}

                {%- if is_granted_for_user(app.user, 'PROJECT_FINISH', item) -%}
                <twig:Elements:DropdownButton
                    data-action="live#action"
                    data-live-action-param="toggleProjectStatus"
                    data-live-project-param="{{ item.id }}"
                >
                    <twig:ux:icon class="w-4 h-4" name="{{ item.finished ? 'tabler:player-play' : 'tabler:check' }}"/>
                    {{  item.finished ? 'Mark as active' : 'Mark as finished'   -}}
                </twig:Elements:DropdownButton>
                {%- endif -%}

                {%- if is_granted_for_user(app.user, 'PROJECT_DELETE', item) -%}
                <twig:Elements:DeleteButton
                    button:class="justify-start"
                    button:width="full"
                    action="{{ path('app_user_project_delete', {id: item.id}) }}"
                    token="{{ csrf_token('delete-project-' ~ item.id) }}"
                />
                {%- endif -%}
            </twig:Elements:Dropdown>
        </twig:Elements:Td>
    </twig:block>
    <twig:block name="post_table">
        <twig:Elements:Modal name="project">
            <twig:User:ProjectEdit modalName="project"/>
        </twig:Elements:Modal>
    </twig:block>
</twig:Common:Listing>
