<twig:Common:Listing entityClassName="{{ entityClassName }}" {{ ...(ticketsListingProps ?? {}) }}>
    <twig:block name="headers_action_right">
        <twig:Elements:Button data-action="live#emit" data-live-event-param="ticket:edit">
            <twig:ux:icon name="tabler:ticket" class="mr-2"/>New Ticket
        </twig:Elements:Button>
    </twig:block>
    <twig:block name="table_head">
        <twig:Elements:Th class="w-8">ID</twig:Elements:Th>
        <twig:Elements:Th>Title</twig:Elements:Th>
        <twig:Elements:Th>Project</twig:Elements:Th>
        <twig:Elements:Th class="text-center w-8">Status</twig:Elements:Th>
        <twig:Elements:Th class="text-center w-8">Progress</twig:Elements:Th>
        <twig:Elements:Th class="text-right whitespace-nowrap w-8">Actions</twig:Elements:Th>
    </twig:block>
    <twig:block name="table_row">
        <twig:Elements:Td class="text-gray-500">{{ item.ticket.id }}</twig:Elements:Td>
        <twig:Elements:Td class="text-gray-900">
            <span class="{% if item.ticket.isArchived %}line-through{% endif %}">
                {{ item.ticket.title }}
            </span>
        </twig:Elements:Td>
        <twig:Elements:Td>{{- item.ticket.project.name -}}</twig:Elements:Td>
        <twig:Elements:Td class="text-center">
            <twig:Elements:Pill content="{{ item.ticket.status.name }}"/>
        </twig:Elements:Td>
        <twig:Elements:Td class="text-center">
            {% set percentage = item.tasks > 0 ? ((item.completedTasks / item.tasks) * 100)|round : 0 %}
            <twig:Elements:Pill
                variant="{{ percentage == 100 ? 'green' : (percentage > 0 ? 'yellow' : 'default') }}"
                content="{{ item.completedTasks }}/{{ item.tasks }} ({{ percentage }}%)"
            />
        </twig:Elements:Td>
        <twig:Elements:Td class="text-gray-900 whitespace-nowrap text-right">
            <twig:Elements:Dropdown variant='short'>
                <twig:Elements:DropdownButton
                    data-action="live#emit"
                    data-live-event-param="ticket:view"
                    data-live-ticket-param="{{ item.ticket.id }}"
                >
                    <twig:ux:icon name="tabler:ticket" class="w-4 h-4" /> View
                </twig:Elements:DropdownButton>

                {%- if is_granted_for_user(app.user, 'TICKET_EDIT', item.ticket) -%}
                    <twig:Elements:DropdownButton
                        data-action="live#emit"
                        data-live-event-param="ticket:edit"
                        data-live-ticket-param="{{ item.ticket.id }}"
                    >
                        <twig:ux:icon name="tabler:pencil" class="w-4 h-4" /> Edit
                    </twig:Elements:DropdownButton>
                {%- endif -%}

                {%- if is_granted_for_user(app.user, 'TICKET_ARCHIVE', item.ticket) -%}
                    <twig:Elements:DropdownButton
                        data-action="live#emit"
                        data-live-event-param="ticket:toggle-archive"
                        data-live-ticket-param="{{ item.ticket.id }}"
                    >
                        {% if item.ticket.archived %}
                            <twig:ux:icon name="tabler:archive-off" class="w-4 h-4" /> Unarchive
                        {% else %}
                            <twig:ux:icon name="tabler:archive" class="w-4 h-4" /> Archive
                        {% endif %}
                    </twig:Elements:DropdownButton>
                {%- endif -%}
            </twig:Elements:Dropdown>
        </twig:Elements:Td>
    </twig:block>
    <twig:block name="post_table">
        <twig:Elements:Modal name="ticket">
            <twig:User:TicketViewEdit modalName="ticket"/>
        </twig:Elements:Modal>
    </twig:block>
</twig:Common:Listing>
